transformers==4.56.1
peft==0.17.1
accelerate==1.10.1
bitsandbytes==0.47.0
datasets==4.0.0
evaluate==0.4.3
huggingface_hub[hf_transfer]
mlflow
ray[data,train,tune,serve]==2.49.1
safetensors>=0.6.2
sagemaker==2.251.1
sagemaker-mlflow==0.1.0
sentencepiece==0.2.1
scikit-learn==1.7.2
tokenizers>=0.22.0
trl==0.22.2
psutil
py7zr
wandb